<!doctype html>
<html lang="no" ng-app="app" ng-controller="controller as vm">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arbeidsdager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">
    <style>
        .nav-tabs>li,.nav-pills>li {margin:12px;float:none;display:inline-block;*display:inline; /* ie7 fix */zoom:1; /* hasLayout ie7 trigger */}
        .nav-tabs>li:first-child, .nav-pills>li:first-child {margin-left:0;}
        .nav-tabs,.nav-pills{text-align:center;}
        .pager li>a {min-width:40px;outline:none;}
        .badge{padding:40px;font-size:48px;}
        .logo{margin-left:28px;}
        @media screen and (min-width: 480px) {.logo{position:relative;float:left;left:200px;margin-left:-200px;}}
    </style>
</head>


<body>
    <div id="app" class="container">
        <div class="row">
            <div class="jumbotron" style="margin-top:5px;text-align:center;">
                <a href="http://www.novanet.no"><img src="novanet-logo.svg" class="logo"></a>
                <h1>Arbeidsdager</h1>
                <p>
                    <ul class="pager">
                        <li><a class="btn" @click="decreaseYear">-</a></li>
                        <li style="font-size:24px;vertical-align: middle;padding-left:10px;padding-right:10px;">{{selectedYear}}</li>
                        <li><a class="btn" @click="increaseYear">+</a></li>
                    </ul>
                    <ul class="nav nav-pills">
                        <monthbox v-for="month in months" :name="month.name" :number-of-days="month.numberOfWorkingDays"></monthbox>
                    </ul>
                    <br />
                    <br />
                    <div class="row" style="margin:auto;width:90%;">
                        <div class="col-lg-4">
                            <ul style="text-align:left;list-style-type:none;"><strong>I dag:</strong>
                                <li>{{today | date('DD.MM.YYYY')}}</li>
                            </ul>
                            <ul style="text-align:left;list-style-type:none;"><strong>Ukenummer:</strong>
                                <li>{{week}}</li>
                            </ul>
                            <ul style="text-align:left;list-style-type:none;"><strong>Totalt antall arbeidsdager</strong>
                                <li>{{totalNumberOfWorkingDaysInYear}}</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul style="text-align:left;list-style-type:none;"><strong>Helligdager i
                                    {{selectedYear}}:</strong>
                                <li v-for="holiday in holidays">{{holiday.date | date('DD.MM')}} -
                                    {{holiday.name}}</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul style="text-align:left;list-style-type:none;"><strong>Sommertid
                                    starter</strong>
                                <li>{{summerTime.start | date('DD.MM')}} - kl.02:00</li>
                            </ul>
                            <ul style="text-align:left;list-style-type:none;"><strong>Sommertid slutter</strong>
                                <li>{{summerTime.end | date('DD.MM')}} - kl.03:00</li>
                            </ul>
                            <ul style="text-align:left;list-style-type:none;"><strong>Andre spesielle dager i
                                    {{selectedYear}}:</strong>
                                <li v-for="s in specialDays">{{s.date | date('DD.MM')}} -
                                    {{s.name}}</li>
                            </ul>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc="
        crossorigin="anonymous"></script>
</body>



</html>
<script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.11.1/lodash.min.js"></script>
<script type="text/javascript" src="holiday.service.js"></script>
<script type="text/javascript" src="workingdays.service.js"></script>
<script type="text/javascript" src="monthbox.js"></script>
<script type="text/javascript" src="app.js"></script>